<body>
	
    <div class="container-fluid">
    	<div class="wrapper">
		    <div id="div1" class="hero-img">
		        
		        <div angular-marquee scroll="scroll" duration="duration"> Мы ищем новых битмейкеров из России > </div>
				
				<div class="row col-md-12 padding-top-10p text-align-center">
					<div class="wight-70p-center">
						Загрузи свой трек с Soundcloud на сайт Future Shift и получи шанс выпустить свою музыку на эксклюзивном диджитал-EP на Boiler Room
						<br>
						<input style="margin-top: 50px; color: blue; padding: 10px;" type="button" id="btn1" value="Закгрузи свой трек" ng-click="animateLeft()"/>
						<br>
						<a class="fontsize-10" href="">Правила и условия</a>
					</div>
				</div>	    

				<div class="row col-md-12 text-align-center" style="margin-top: 100px;">
					Зацени треки
					<br>
					<label class="rotate-180">^</label>
				</div>
		    	


		    </div>


		    <div id="div2" class="hero-img">
		        <input type="button" id="btn2" value="btn2" ng-click="animateRight()"/>
		    </div>
		</div>
    	
        <div class="wrapper-row-white">
        	Треки, за которые проголосовали {{timeback}} минут назад
        </div>

        <div class="wrapper-row-normal">
        				<table style="width: 500px !important; display: inline-block;">
							<tr>
								<td>
									<img class="vote_for_img" src="img/vote_for_img.png"/>
								</td>
								<td>
									<table class="text_colum_vote">
										<tr>
											<td>
												<h2>Name Of Artist</h2>
							        			<h3>Name of song</h3>
							        			<div style="display: inline-block;">
							        				<i class="fa fa-heart" aria-hidden="true"> 67</i> 
							        				<i class="fa fa-play" style="margin-left: 20px;" aria-hidden="true"> 245 </i>
							        			</div>
							        			
											</td>
											<td style="padding-left: 20px;">
												<a href"" class="hart">
						        				<i class="fa fa-heart-o" style="font-size:50px;" aria-hidden="true"></i>
						        			</a>
											</td>
										</tr>
									</table>
									
								</td>
							</tr>
						</table>
        </div>


        <div id="trackList" class="wrapper-row-white">
        	<ul class="nav nav-tabs display_inline_block">
			  <li><a href="">Лучшие</a></li>
			  <li><a href="">Горячие</a></li>
			  <li><a href="">Свежие</a></li>
			</ul>

			<div div class="col-md-12">
				<div class="row" style="padding-left: 20%;">
				<div class="col-md-6" style="min-width: 300px !important; margin-top:40px;">
					
						<table style="width: 350px !important;">
							<tr>
								<td>
									<img class="vote_for_img_sec" src="img/vote_for_img.png"/>
								</td>
								<td>
									<table class="text_colum_vote_sec">
										<tr>
											<td>
												<h2>Name Of Artist</h2>
							        			<h3>Name of song</h3>
							        			<div style="display: inline-block; font-size:12px;">
							        				<i class="fa fa-heart" aria-hidden="true"> 67</i> 
							        				<i class="fa fa-play" style="margin-left: 20px;" aria-hidden="true"> 245 </i>
							        			</div>
											</td>
											<td style="padding-left: 20px;">
												<a href"" class="hart">
						        				<i class="fa fa-heart-o" style="font-size:30px;" aria-hidden="true"></i>
						        			</a>
											</td>
										</tr>
									</table>
									
								</td>
							</tr>
						</table>
			       
				</div>
				<div class="col-md-6" style="min-width: 300px !important; margin-top:40px;">
					
						<table style="width: 350px !important;">
							<tr>
								<td>
									<img class="vote_for_img_sec" src="img/vote_for_img.png"/>
								</td>
								<td>
									<table class="text_colum_vote_sec">
										<tr>
											<td>
												<h2>Name Of Artist</h2>
							        			<h3>Name of song</h3>
							        			<div style="display: inline-block; font-size:12px;">
							        				<i class="fa fa-heart" aria-hidden="true"> 67</i> 
							        				<i class="fa fa-play" style="margin-left: 20px;" aria-hidden="true"> 245 </i>
							        			</div>
											</td>
											<td style="padding-left: 20px;">
												<a href"" class="hart">
						        				<i class="fa fa-heart-o" style="font-size:30px;" aria-hidden="true"></i>
						        			</a>
											</td>
										</tr>
									</table>
									
								</td>
							</tr>
						</table>
			       
				</div>
			
				<div class="col-md-6" style="min-width: 300px !important; margin-top:40px;">
					
						<table style="width: 350px !important;">
							<tr>
								<td>
									<img class="vote_for_img_sec" src="img/vote_for_img.png"/>
								</td>
								<td>
									<table class="text_colum_vote_sec">
										<tr>
											<td>
												<h2>Name Of Artist</h2>
							        			<h3>Name of song</h3>
							        			<div style="display: inline-block; font-size:12px;">
							        				<i class="fa fa-heart" aria-hidden="true"> 67</i> 
							        				<i class="fa fa-play" style="margin-left: 20px;" aria-hidden="true"> 245 </i>
							        			</div>
											</td>
											<td style="padding-left: 20px;">
												<a href"" class="hart">
						        				<i class="fa fa-heart-o" style="font-size:30px;" aria-hidden="true"></i>
						        			</a>
											</td>
										</tr>
									</table>
									
								</td>
							</tr>
						</table>
			       
				</div>
				<div class="col-md-6" style="min-width: 300px !important; margin-top:40px;">
					
						<table style="width: 350px !important;">
							<tr>
								<td>
									<img class="vote_for_img_sec" src="img/vote_for_img.png"/>
								</td>
								<td>
									<table class="text_colum_vote_sec">
										<tr>
											<td>
												<h2>Name Of Artist</h2>
							        			<h3>Name of song</h3>
							        			<div style="display: inline-block; font-size:12px;">
							        				<i class="fa fa-heart" aria-hidden="true"> 67</i> 
							        				<i class="fa fa-play" style="margin-left: 20px;" aria-hidden="true"> 245 </i>
							        			</div>
											</td>
											<td style="padding-left: 20px;">
												<a href"" class="hart">
						        				<i class="fa fa-heart-o" style="font-size:30px;" aria-hidden="true"></i>
						        			</a>
											</td>
										</tr>
									</table>
									
								</td>
							</tr>
						</table>
			       
				</div>
			</div>
			
        </div>

        
    </div>
</body>

