<body>
	
    <div class="container-fluid">
    	<div class="wrapper">
		    <div id="div1" class="hero-img">
		        
		        <div angular-marquee scroll="scroll" duration="duration"> Мы ищем новых битмейкеров из России > </div>
				
				<div class="row col-md-12 padding-top-10p text-align-center">
					<div class="wight-70p-center">
						Загрузи свой трек с Soundcloud на сайт Future Shift и получи шанс выпустить свою музыку на эксклюзивном диджитал-EP на Boiler Room
						<br>
						<input style="margin-top: 50px; color: blue; padding: 10px;" type="button" id="btn1" value="Закгрузи свой трек" ng-click="animateLeft()"/>
						<br>
						<a class="fontsize-10" href="">Правила и условия</a>
					</div>
				</div>	    

				<div class="row col-md-12 text-align-center" style="margin-top: 100px;">
					Зацени треки
					<br>
					<label class="rotate-180">^</label>
				</div>
		    </div>		    
		</div>
    	
        <div class="wrapper-row-white">
        	Треки, за которые проголосовали {{timeback}} минут назад
        </div>

       
        
    </div>
</body>

